.features-item {
	width: calc((100% - 90px)/4);

	&:not(:nth-child(4n)) {
		margin-right: 30px;
	}
}



.features-item__container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;
	background-color: $secondary-background-color;
}

.features-item__icon {
	fill: currentColor;
}

.features-item__title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.features-item__text {
	color: $text-color;
	line-height: 1.71;
}