	$title-text-color: #212121;
	$text-color: #757575;
	$accent-color: #2196F3;
	$white-site-color: #FFFFFF;
	$logo-color: #000000;
	$secondary-background-color: #F5F4FA;
	$footer-background-color: #2F303A;
	$footer-link-color: rgba(255, 255, 255, 0.6);
	$icons-color: #AFB1B8;
	$timing-function: cubic-bezier(0.4, 0, 0.2, 1);